{% extends "./templates/posts.html" %}

{%block content%}
<!--future stuff-->
<h1>Leave a comment</h1>
<!-- extract data from comments field (since it is ndb KeyProperty) -->
<form action="/comment_forms?id" method="POST">
	<input type="radio" name="atype" value=0 checked> Parking Services
	<input type="radio" name="atype" value=1> Parking Lot Full
	<input type="radio" name="atype" value=2> Other
	<br/>
    Comment: <input type="text" name="comment" />
    <br/>
    <input type="submit" value="Submit" />
</form>
{%endblock%}