{% extends "./templates/dashboard.html" %}

{%block content%}

<div class="row">
<h1>
  <div class="col-lg-8 col-md-6 col-sm-6">{{ lot.name }} <small>{{ lot.description }}</small></div>
  <div class="col-lg-4 col-md-6 col-sm-6 text-right">
    <button type="button" class="btn btn-default toggle-comment" type="button" data-toggle="collapse" data-target=".comment-text" aria-expanded="false" aria-controls="show comment text">
      <span class="hidden glyphicon glyphicon-eye-close"></span><span class="glyphicon glyphicon-eye-open"></span>
    </button>
    <button type="button" class="btn btn-default toggle-old" data-toggle="collapse" data-target=".comment-old" aria-expanded="false" aria-controls="show old comments">
      <span class="hidden">Hide</span><span>Show</span> Old Comments
    </button>
  </div>
</h1>
</div>
<hr />

<!-- old code, been replaced with ajax
<!-- extract data from comments field (since it is ndb KeyProperty)
<!-- hide comments that aren't recent (older than 15 minutes)
{% for comment in comments %}
  {% if comment.recent == False %}
    <div class='collapse comment-old'>
  {% endif %}
  <div
    {% if comment.atype == 0 %}
        class='panel panel-danger'>
          <div class="panel-heading">
            <h3 class="panel-title">
              <div class="row">
                <div class="col-lg-8 col-md-6 col-sm-6">Parking Services</div>
                <div class="col-lg-4 col-md-6 col-sm-6 text-right">
                  <small> via <strong>{{ comment.author }}</strong> @ <em>{{ comment.time }}</em></small>
                </div>
              </div>
            </h3>
          </div>
      {% elif comment.atype == 1 %}
        class='panel panel-warning'>
          <div class="panel-heading">
            <h3 class="panel-title">
              <div class="row">
                <div class="col-lg-8 col-md-6 col-sm-6">Parking Lot Full</div>
                <div class="col-lg-4 col-md-6 col-sm-6 text-right">
                  <small> via <strong>{{ comment.author }}</strong> @ <em>{{ comment.time }}</em></small>
                </div>
              </div>
            </h3>
          </div>
      {% elif comment.atype == 2 %}
        class='panel panel-default'>
        <div class="panel-heading">
          <h3 class="panel-title">
            <div class="row">
              <div class="col-lg-8 col-md-6 col-sm-6">Miscellaneous</div>
              <div class="col-lg-4 col-md-6 col-sm-6 text-right">
                <small> via <strong>{{ comment.author }}</strong> @ <em>{{ comment.time }}</em></small>
              </div>
            </div>
          </h3>
        </div>
    {% endif %}
    {% if comment.text %}
    <div class="collapse comment-text">
      <div class="panel-body">
        <small>{{ comment.text }}</small>
      </div>
    </div>
    {% endif %}
  </div>
  {% if comment.recent == False %}
    </div>
  {% endif %}
{% endfor %}-->
<!-- new code now uses ajax and mustache -->
<div id="target">
  <p> Loading...</p>
</div>
<h3>Leave a comment:</h3>
<form action="/comment_forms" method="POST" id="comment_form">
    <input type="radio" name="atype" value=0 checked><small> Parking Services</small><br/>
    <input type="radio" name="atype" value=1><small> Parking Lot Full</small><br/>
    <input type="radio" name="atype" value=2><small> Other</small><br/>
    <!--<input type="text" name="comment" /> -->
    <br/>
    <textarea class="form-control" rows="4" cols="40" name="comment"
      form="comment_form" placeholder="Optional comment message..."></textarea>
    <br/>
    <input type="hidden" name="lot_id" value="{{lot.key.urlsafe()}}"/>
    <input class="btn btn-default" type="submit" value="Submit" />
</form>

{%endblock%}

<!-- use super() to get the jquery library -->
{% block jquery %}
  {{ super() }}
  <!-- Mustach.js -->
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
  <script>

  // reverse jquery hidden (because of Bootstrap)
  $('.hidden').removeClass('hidden').hide();
  // toggle the comment text
  $('.toggle-comment').click(function() {
    $(this).find('span').each(function() { $(this).toggle(); });
  });
  // toggle the old comments button
  $('.toggle-old').click(function() {
    $(this).find('span').each(function() { $(this).toggle(); });
  });

  function loadData() {
    $.getJSON("/comment_forms?id={{lot.key.urlsafe()}}", function (json) {
      json.pop();
      var template = $('#template').html();
      Mustache.parse(template);
      var data = {
        array: json,
        "panelType": function () {
          return function (text, render) {
            if (render(text) == 0) {
              return 'panel panel-danger';
            }
            if (render(text) == 1) {
              return 'panel panel-warning';
            }
            return 'panel panel-default';
          }
        },
        "panelTitle": function () {
          return function (text, render) {
            if (render(text) == 0) {
              return 'Parking Services';
            }
            if (render(text) == 1) {
              return 'Parking Lot Full';
            }
            return 'Miscellaneous';
          }
        },
        "recentFirst": function () {
          return function (text, render) {
            if (render(text) === 'false') {
              return "<div class='collapse comment-old'>";
            }
            return '';
          }
        },
        "recentLast": function () {
          return function (text, render) {
            if (render(text) === 'false') {
              return '</div>';
            }
            return '';
          }
        }
      };
      var rendered = Mustache.render(template, data);
      $('#target').html(rendered);
    });

    setTimeout(loadData, 5000);
  }
  $(document).ready(function () {
        loadData();
  })
  </script>
  <script id="template" type="x-tmpl-mustache">
  {{ '{{' }} #array {{ '}}' }}
    {{ '{{' }} #recentFirst {{ '}}' }}{{ '{{' }} recent {{ '}}' }}{{ '{{' }}/ recentFirst {{ '}}' }}
    <div class="{{ '{{' }} #panelType {{ '}}' }}{{ '{{' }} atype {{ '}}' }}{{ '{{' }}/ panelType {{ '}}' }}">
      <div class="panel-heading">
        <h3 class="panel-title">
          <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-6">{{ '{{' }} #panelTitle {{ '}}' }}{{ '{{' }} atype {{ '}}' }}{{ '{{' }}/ panelTitle {{ '}}' }}</div>
            <div class="col-lg-4 col-md-6 col-sm-6 text-right">
              <small> via <strong>{{ '{{' }} author {{ '}}' }}</strong> @ <em>{{ '{{' }} time {{ '}}' }}</em></small>
            </div>
          </div>
        </h3>
      </div>
    </div>
    <div class="collapse comment-text">
      <div class="panel-body">
        <small>{{ '{{' }} text {{ '}}' }}</small>
      </div>
    </div>
    {{ '{{' }} #recentLast {{ '}}' }}{{ '{{' }} recent {{ '}}' }}{{ '{{' }}/ recentLast {{ '}}' }}
  {{ '{{' }} /array {{ '}}' }}
  </script>
{% endblock jquery %}
