{% extends "./templates/dashboard.html" %}

{%block content%}

<h1>{{ lot.name }} <small>{{ lot.description }}</small>
  <button type="button" class="btn btn-default toggle-button" type="button" data-toggle="collapse" data-target=".comment-text" aria-expanded="false" aria-controls="collapseExample">
    <span class="hidden glyphicon glyphicon-eye-close"></span><span class="glyphicon glyphicon-eye-open"></span>
  </button>
</h1>

<!-- extract data from comments field (since it is ndb KeyProperty) -->
{% for comment in comments %}
  <div
    {% if comment.atype == 0 %}
        class='panel panel-danger'>
          <div class="panel-heading">
            <h3 class="panel-title">
              <div class="row">
                <div class="col-lg-8 col-md-6 col-sm-6">Parking Services</div>
                <div class="col-lg-4 col-md-6 col-sm-6 text-right">
                  <small> via <strong>{{ comment.author }}</strong> @ {{ comment.time }}</small>
                </div>
              </div>
            </h3>
          </div>
      {% elif comment.atype == 1 %}
        class='panel panel-warning'>
          <div class="panel-heading">
            <h3 class="panel-title">
              <div class="row">
                <div class="col-lg-8 col-md-6 col-sm-6">Parking Lot Full</div>
                <div class="col-lg-4 col-md-6 col-sm-6 text-right">
                  <small> via <strong>{{ comment.author }}</strong> @ {{ comment.time }}</small>
                </div>
              </div>
            </h3>
          </div>
      {% elif comment.atype == 2 %}
        class='panel panel-default'>
        <div class="panel-heading">
          <h3 class="panel-title">
            <div class="row">
              <div class="col-lg-8 col-md-6 col-sm-6">Miscellaneous</div>
              <div class="col-lg-4 col-md-6 col-sm-6 text-right">
                <small> via <strong>{{ comment.author }}</strong> @ {{ comment.time }}</small>
              </div>
            </div>
          </h3>
        </div>
    {% endif %}
    {% if comment.text %}
    <div class="collapse comment-text">
      <div class="panel-body">
        {{ comment.text }}
      </div>
    </div>
    {% endif %}
  </div>
{% endfor %}
<p>Saw PS at {{ timestamp }}</p>

<form action="/comment_forms" method="POST">
    <input type="radio" name="atype" value=0 checked> Parking Services
    <input type="radio" name="atype" value=1> Parking Lot Full
    <input type="radio" name="atype" value=2> Other
    <br/>
    Comment: <input type="text" name="comment" />
    <br/>
    <input type="text" name="lot_id" value="{{lot.key.urlsafe()}}"/>
    <input type="submit" value="Submit" />
</form>
{%endblock%}

<!-- use super() to get the jquery library -->
{% block jquery %}
{{ super() }}
<script>
// this toggles the button from Hide to Show
$('.hidden').removeClass('hidden').hide();
$('.toggle-button').click(function() {
    $(this).find('span').each(function() { $(this).toggle(); });
});
</script>
{% endblock jquery %}
