{% extends "./templates/dashboard.html" %}

{%block content%}

<div class="row">
<h1>
  <div class="col-lg-8 col-md-6 col-sm-6">{{ lot.name }} <small>{{ lot.description }}</small></div>
  <div class="col-lg-4 col-md-6 col-sm-6 text-right">
    <button type="button" class="btn btn-default toggle-comment" type="button" data-toggle="collapse" data-target=".comment-text" aria-expanded="false" aria-controls="show comment text">
      <span class="hidden glyphicon glyphicon-eye-close"></span><span class="glyphicon glyphicon-eye-open"></span>
    </button>
    <button type="button" class="btn btn-default toggle-old" data-toggle="collapse" data-target=".comment-old" aria-expanded="false" aria-controls="show old comments">
      <span class="hidden">Hide</span><span>Show</span> Old Comments
    </button>
  </div>
</h1>
</div>
<hr />

<!-- extract data from comments field (since it is ndb KeyProperty) -->
<!-- hide comments that aren't recent (older than 15 minutes) -->
{% for comment in comments %}
  {% if comment.recent == False %}
    <div class='collapse comment-old'>
  {% endif %}
  <div
    {% if comment.atype == 0 %}
        class='panel panel-danger'>
          <div class="panel-heading">
            <h3 class="panel-title">
              <div class="row">
                <div class="col-lg-8 col-md-6 col-sm-6">Parking Services</div>
                <div class="col-lg-4 col-md-6 col-sm-6 text-right">
                  <small> via <strong>{{ comment.author }}</strong> @ <em>{{ comment.time }}</em></small>
                </div>
              </div>
            </h3>
          </div>
      {% elif comment.atype == 1 %}
        class='panel panel-warning'>
          <div class="panel-heading">
            <h3 class="panel-title">
              <div class="row">
                <div class="col-lg-8 col-md-6 col-sm-6">Parking Lot Full</div>
                <div class="col-lg-4 col-md-6 col-sm-6 text-right">
                  <small> via <strong>{{ comment.author }}</strong> @ <em>{{ comment.time }}</em></small>
                </div>
              </div>
            </h3>
          </div>
      {% elif comment.atype == 2 %}
        class='panel panel-default'>
        <div class="panel-heading">
          <h3 class="panel-title">
            <div class="row">
              <div class="col-lg-8 col-md-6 col-sm-6">Miscellaneous</div>
              <div class="col-lg-4 col-md-6 col-sm-6 text-right">
                <small> via <strong>{{ comment.author }}</strong> @ <em>{{ comment.time }}</em></small>
              </div>
            </div>
          </h3>
        </div>
    {% endif %}
    {% if comment.text %}
    <div class="collapse comment-text">
      <div class="panel-body">
        <small>{{ comment.text }}</small>
      </div>
    </div>
    {% endif %}
  </div> <!-- end panel div -->
  {% if comment.recent == False %}
    </div> <!-- end comment-old collapse div -->
  {% endif %}
{% endfor %}


<form action="/comment_forms" method="POST">
    <input type="radio" name="atype" value=0 checked> Parking Services
    <input type="radio" name="atype" value=1> Parking Lot Full
    <input type="radio" name="atype" value=2> Other
    <br/>
    Comment: <input type="text" name="comment" />
    <br/>
    <input type="text" name="lot_id" value="{{lot.key.urlsafe()}}"/>
    <input type="submit" value="Submit" />
</form>
{%endblock%}

<!-- use super() to get the jquery library -->
{% block jquery %}
  {{ super() }}
  <script>
  // reverse jquery hidden (because of Bootstrap)
  $('.hidden').removeClass('hidden').hide();
  // toggle the comment text
  $('.toggle-comment').click(function() {
    $(this).find('span').each(function() { $(this).toggle(); });
  });
  // toggle the old comments button
  $('.toggle-old').click(function() {
    $(this).find('span').each(function() { $(this).toggle(); });
  });
  </script>
{% endblock jquery %}
