{% extends "./templates/dashboard.html" %}

{% block head %}
<!-- since we are using 'block head', we need super() to include all the
information that is in the dashboard.html base template -->
{{ super() }}

<!-- set the style for the map size - TODO: make responsive -->

<!-- include the google map api js -->
<script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
<style>
#map-canvas {
  width: auto;
  height: 500px;
}
</style>
<!-- script responsible for map initialization and behavior -->
<!-- <script src="../static/map.js"></script> -->
<script>
// initializes the map and its style
var map;
var icons;
var lots = [];

function initialize() {
  var mapCanvas = document.getElementById('map-canvas');

  // set the starting lat/long location, zoom level, and map type
  var mapOptions = {
    center: new google.maps.LatLng(35.181794, -111.654232),
    zoom: 14,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }

  // create the map
  map = new google.maps.Map(mapCanvas, mapOptions);

  // see https://gmaps-samples-v3.googlecode.com/svn/trunk/styledmaps/wizard/index.html

  map.set('styles', [
    // {
    //   // hide position of interest styling
    //   featureType: 'poi',
    //   elementType: 'geometry',
    //   stylers: [ { visibility: 'off' } ]
    // },
    // // set the school position of interests to have a green shade
    // {
    //   featureType: 'poi.school',
    //   elementType: 'geometry',
    //   stylers: [
    //     { visibility: 'on' },
    //     { hue: '#F6F8EE'/*'#338800'*/ },
    //   ]
    // }
  ]);
  //var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';-->
  // CC BYSA 3.0 Maps Icons Collection https://mapicons.mapsmarker.com
  icons = {
    parking: {
      icon: 'static/parking.png'
    }
  };

  // request used for querying google map places 5000m from NAU center
  // i.e. look for parking lots
  var requests = [];
  var services = [];
  var i = 0;
  {% for lot in parking_lots %}
  requests[i] = {
    location: map.getCenter(),
    radius: '5000',
    types: ['parking'],
    query: '{{ lot.name }}'
  };
  // store some information from the lot instances we grab
  lots[i] = {
    url:'lots?id={{lot.key.urlsafe()}}',
    name: '{{ lot.name }}',
    desc: '{{ lot.description }}'
  };
  services[i] = new google.maps.places.PlacesService(map);
  services[i].textSearch(requests[i], callback);
  i++;
  {% endfor %}
}
// end initialize()


// Checks that the PlacesServiceStatus is OK, and adds a marker
// using the place ID and location from the PlacesService.
function callback(results, status) {
  if (status == google.maps.places.PlacesServiceStatus.OK) {
    var lot = lots[0]; // need to provide default value initialization
    // iterate thru lots until we find one whose name matches the result name
    for (var i = 0; i < lots.length; i++) {
      if (lots[i].name == results[0].name) {
        lot = lots[i];
        break;
      }
    }
    var marker = new google.maps.Marker({
      map: map,
      icon: icons['parking'].icon,
      place: {
        // get the most relevant results
        placeId: results[0].place_id,
        location: results[0].geometry.location
      },
      // location to the lot (the key)
      url: lot.url
    });
    marker.infowindow = new google.maps.InfoWindow({
      content:'<h4>' + results[0].name + '</h4>' +
              '<small>' + lot.desc + '</small>'
    });

    // info window pops up when hovering over the parking lot icon
    google.maps.event.addListener(marker, 'mouseover', function() {

      marker.infowindow.open(map, marker);
      //setTimeout(function () { marker.infowindow.close(); }, 4000);
    });
    // info window closes when moving the mouse away from parking lot icon
    google.maps.event.addListener(marker, 'mouseout', function() {
      marker.infowindow.close();
    });

    // clicking the marker goes to that lot's page
    google.maps.event.addListener(marker, 'click', function() {
      window.location.href = marker.url;
    });

  }
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

{% endblock head %}

{%block content%}

<!-- container for the map we created -->
<div id="map-canvas"></div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Favorites
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        {% if favorite_lots%}
        {% endif %}
        {% for lot in favorite_lots %}
        <p><a href="/lots?id={{lot.key.urlsafe()}}">{{ lot.name }} -- {{ lot.description }}</a></p>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          All Parking Lots
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        {% for lot in parking_lots %}
        <p><a href="/lots?id={{lot.key.urlsafe()}}">{{ lot.name }} -- {{ lot.description }}</a></p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{%endblock content%}


